<h2>Create a new boat</h2>
<%= form_tag "/boats" , method: :post do %>
<input type = text placeholder="boat name" name = "name">
<input type = text placeholder="boat color" name = "color">
<input type = text placeholder="boat price" name = "price">
<input type = text placeholder="boat year" name = "year">
<button type= "submit">submit</p>
<%end%>
</form>