<h1>Welcome To The Big Show</h1>
<img src="https://www.wwe.com/f/styles/og_image/public/all/2017/03/Big_Show_bio--5c987005c8e0594e2f46c55d5fc8f6de.jpg" width= "200">
<iframe width="560" height="315" src="https://www.youtube.com/embed/rZDuryZbLkU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div>
<a href="http://localhost:3000/boats">homepage</a>
<p> name: <%= @boat.name %></p>
<p> color: <%= @boat.color %></p>
<p>price: <%= @boat.price %></p>
<p>year: <%= @boat.year %></p>
</div>

